body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#target {
  border-width: 1px;
  border-style: dotted;
  background-color: white;
  padding: 0px;
  font-family: monospace;
}

.line {
  border-bottom: 1px solid black;
}

.line_no {
  text-align: right;
  padding-left: 10px;
  padding-right: 1px;
  border-right: 3px solid #990000 !important;
}

.line_content {
  padding-left: 1px;
}

.code-table {
  border-spacing: 0px;
}